body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(258deg, #005996, #82938a00);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
