.manage-section {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  padding: 80px 32px;
}

/* LEFT */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.manage-heading {
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: 1.2;
  margin-bottom: 20px;
  max-width: 550px;
}

.manage-paragraph {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #555;
  max-width: 500px;
  margin-bottom: 30px;
}

.btn-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.primary-btn,
.secondary-btn {
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
}

/* RIGHT */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.manage-card {
  width: 100%;
  max-width: 550px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  display: block;
}

@media (max-width: 992px) {
  .manage-section {
    flex-direction: column;
    text-align: center;
  }

  .left {
    align-items: center;
  }
}

@media (max-width: 576px) {
  .manage-section {
    padding: 50px 20px;
  }

  .btn-group {
    flex-direction: column;
    width: 100%;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
  }
}
