.review-section {
  max-width: 1200px;
  margin: auto;
}

.review-container {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.review-container::-webkit-scrollbar {
  display: none;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 24px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.user-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.stars {
  margin: 15px 0;
  color: gold;
}

.modal-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  background: white;
  width: 90%;
  max-width: 420px;

  border-radius: 16px;
  padding: 30px;

  text-align: center;
}

@media (max-width: 768px) {
  .review-section {
    padding: 50px 20px;
  }

  .card {
    flex: 0 0 280px;
  }
}
