.login-page {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* LEFT SIDE */
.left-panel {
  flex: 1;
  position: relative;
  background: linear-gradient(258deg, #005996, #82938a00);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* dark overlay for depth */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.left-content {
  position: relative;
  max-width: 400px;
  z-index: 2;
}

.left-content h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.left-content p {
  opacity: 0.9;
  margin-bottom: 25px;
  line-height: 1.5;
}

.features div {
  margin: 12px 0;
  font-size: 15px;
  opacity: 0.95;
}

/* RIGHT SIDE */
.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f9fc;
}
